include README.md
include LICENSE
recursive-include fluentqml/assets *
recursive-include fluentqml/components *
recursive-include fluentqml/themes *
recursive-include fluentqml/windows *
recursive-include fluentqml/utils *
recursive-include fluentqml *
